/* IV. Styling text 
https://developer.mozilla.org/en-US/docs/Learn_web_development/Core/Text_styling/Fundamentals 
Color - https://www.w3schools.com/css/css_text.asp

Alignment - https://www.w3schools.com/css/css_text_align.asp
https://developer.mozilla.org/en-US/docs/Web/CSS/text-align

Decoration - https://www.w3schools.com/css/css_text_decoration.asp
https://developer.mozilla.org/en-US/docs/Web/CSS/text-decoration

Transftion - https://www.w3schools.com/css/css_text_transformation.asp
https://developer.mozilla.org/en-US/docs/Web/CSS/text-transform

Spacing - https://www.w3schools.com/css/css_text_spacing.asp
https://developer.mozilla.org/en-US/docs/Web/CSS/letter-spacing
https://developer.mozilla.org/en-US/docs/Web/CSS/word-spacing

Font Weight - https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight

*/

/* .text-style {
  font-family: 'DM Mono', monospace;

} */

/* .text-style {
  font-family: 'DM Mono', monospace;
  text-align: start;
  
} */

/* .text-style {
  font-family: 'DM Mono', monospace;
  text-align: end;
  
} */

/* .text-style {
  font-family: 'DM Mono', monospace;
  text-align: center;
  
} */

/* .text-style {
  font-family: 'DM Mono', monospace;
  text-align: justify;
  
} */


/* .text-style {
  font-family: 'DM Mono', monospace;
  text-align:  start;
  letter-spacing: normal;

} */

/* .text-style {
  font-family: 'DM Mono', monospace;
  text-align:  start;
  letter-spacing: 0.2rem;

} */

/* .text-style {
  font-family: 'DM Mono', monospace;
  text-align:  start;
  letter-spacing: 1px;

} */

/* .text-style {
  font-family: 'DM Mono', monospace;
  text-align:  start;
  letter-spacing: -1px;

} */

/* 
.text-style {
  font-family: 'DM Mono', monospace;
  text-align:  start;
  letter-spacing: 0.2rem;
  word-spacing: normal;
} */
 
/* 
.text-style {
  font-family: 'DM Mono', monospace;
  text-align:  start;
  letter-spacing: 0.2rem;
  word-spacing: 1rem;
} */

/* 
.text-style {
  font-family: 'DM Mono', monospace;
  text-align:  start;
  letter-spacing: 0.2rem;
  word-spacing: 4px;
} */

/* 
.text-style {
  font-family: 'DM Mono', monospace;
  text-align:  start;
  letter-spacing: 0.2rem;
  word-spacing: -0.4ch;
} */


/* 
.text-style {
  font-family: 'DM Mono', monospace;
  text-align:  start;
  letter-spacing: 0.2rem;
  word-spacing: normal;
  text-transform: capitalize;
} */

/* 
.text-style {
  font-family: 'DM Mono', monospace;
  text-align:  start;
  letter-spacing: 0.2rem;
  word-spacing: normal;
  text-transform: uppercase;
} */

/* 
.text-style {
  font-family: 'DM Mono', monospace;
  text-align:  start;
  letter-spacing: 0.2rem;
  word-spacing: normal;
  text-transform: lowercase;
} */


/* .text-style {
  font-family: 'DM Mono', monospace;
  text-align:  start;
  letter-spacing: 1px;
  word-spacing: 3px;
  text-transform: none;
  text-decoration: underline;
} */

/* .text-style {
  font-family: 'DM Mono', monospace;
  text-align:  start;
  letter-spacing: 1px;
  word-spacing: 3px;
  text-transform: none;
  text-decoration: underline dotted;
} */


/* .text-style {
  font-family: 'DM Mono', monospace;
  text-align:  start;
  letter-spacing: 1px;
  word-spacing: 3px;
  text-transform: none;
  text-decoration: green wavy underline;
} */

.text-style {
  font-family: 'DM Mono', monospace;
  color: #000000;
  font-size: 12;
  font-weight: lighter;
  text-align:  start;
  letter-spacing: 1px;
  word-spacing: 3px;
  text-transform: none;
  text-decoration: green wavy underline;
}


.dm-mono-light {
  font-family: "DM Mono", monospace;
  font-weight: 300;
  font-style: normal;
}

.dm-mono-regular {
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.dm-mono-medium {
  font-family: "DM Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

.dm-mono-light-italic {
  font-family: "DM Mono", monospace;
  font-weight: 300;
  font-style: italic;
}

.dm-mono-regular-italic {
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.dm-mono-medium-italic {
  font-family: "DM Mono", monospace;
  font-weight: 500;
  font-style: italic;
}

/* Styling links - https://developer.mozilla.org/en-US/docs/Learn_web_development/Core/Text_styling/Styling_links 
https://www.w3schools.com/css/css_link.asp

- I asked Chatgpt what 'a {moutline-color: transparent;}' meant b/c I wasn't very confident. It stated "This rule is saying:

“When the <a> (link) element gets focused (e.g., clicked or tabbed to), make the outline’s color invisible.”".

*/

a {
  outline-color: transparent;
}

a:link {
  color: #bc126a;
}

a:visited {
  color: #d2420e;
}

a:focus {

  text-decoration: none;
  background: #d6f009;
}

a:hover {
  text-decoration: none;
  background: #0eadde;
}

a:active {
  background: #6900ff;
  color: #cdfeaa;
}



/* I added this table stying to my css file so I can stay better organized. Personal pref.  */

Table{border-collapse: collapse;}
  table, tr, th, td {
      border: 1px solid black;
  }

/* Absolute positioning - This was my original article. I needed to re-classify each so I could style article3: 
.article {
margin: 20px 0;
padding: 20px;
border: 1px solid black;
} */

/* .article1 {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid black;
  } */

  /* .article2 {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid black;
    } */

    /* https://developer.mozilla.org/en-US/docs/Web/CSS/position  */

    /* .article3 {
      margin: 20px 0;
      padding: 20px;
      border: 1px solid black;
      position: absolute;
      top: 0;
      left: 0;
      background-color: pink;
      } */

    /* .article3 {
      margin: 20px 0;
      padding: 20px;
      border: 1px solid black;
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: pink;
      } */

      .article1 {
        margin: 20px 0;
        padding: 20px;
        border: 1px solid black;
        position: absolute;
        top: 0;
        left: 0;
        background-color: pink;
        } 

      /* Sticking 10 pixels from the top of page. */

       .article2 {
        margin: 20px 0;
        padding: 20px;
        border: 1px solid black;
        position: sticky;
        top: 10px;
        background-color: gold;
        } 

      .article3 {
        margin: 20px 0;
        padding: 20px;
        border: 1px solid black;
        position: relative;
        background-color: orange;
        }



/* I assumed that this portion was still refering to the articles, 
so I decided to focus on the title of each aticle.  */

.style-me1 {
    color: red;
  }

  /* I got ahead of myself and started off using class for all of my selectors. 
  After re-reading, I see I needed to also use ID and a specific selector. 
  Keeping my old code in comments so you can see where I started.

    https://developer.mozilla.org/en-US/docs/Web/CSS/ID_selectors 
  
  .style-me2 {
    color: blue;
  } */

  #style-me2 {
    color: blue;
  }

  /* .style-me3 {
    color: purple;
  } */

  /* I broke my code when I moved it to the next line
  And when I spaced it out. I wanted to see if my selectors needed to be side by side.
    Everytime I added space between them, my font turned blue. 

    .style-me1
    #style-me2 {
    color: purple;
  } 

  .style-me1 #style-me2 {
    color: purple;
  } */

  .style-me1#style-me2 {
    color: purple;
  }

  /* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_selectors/Selectors_and_combinators#descendant_combinator 
  https://developer.mozilla.org/en-US/docs/Web/CSS/Descendant_combinator
  https://developer.mozilla.org/en-US/docs/Web/CSS/Child_combinator 
  
  I'm a little confused on where I should add my element in my html code. 
  Should I place it in all my 'p's or should I add a div?  
  Update: I tried it in the <p> element but after a couple google searches, I realized that <p> is not a parent element. 
  I wrapped my text in a <div> parent element. 
  */

  .my-descendants-are-styled p {
    background: red;
  }

  .my-children-are-styled p {
    background: lightgreen;
  } 

  
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_cascade/Shorthand_properties

  4-value syntax (TESTING) */

  /* .box1 {
    background-color: lightblue;
    margin: 40px 40px 40px 40px;
    padding: 5px 5px 5px 5px;
  }  */

 /* .box1 {
    background-color: lightblue;
    margin: 40px 30px 40px 30px;
    padding: 5px 5px 5px 5px;
  }  */

   /* .box1 {
    background-color: lightblue;
    margin: 40px 20px 40px 20px;
    padding: 5px 5px 5px 5px;
  }  */

  /* .box1 {
    background-color: lightblue;
    margin: 40px 10px 40px 10px;
    padding: 5px 5px 5px 5px;
  } */

 /* .box1 {
    background-color: lightblue;
    margin: 40px 5px 40px 5px;
    padding: 5px 5px 5px 5px;
  } */

  /* .box1 {
    background-color: lightblue;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
  } */


  /* 2-value syntax (TESTING) */

  /* .box2 {
    background-color: lightblue;
    margin: 20px 40px;
    padding: 10px 25px;
  } */

  /* .box2 {
    background-color: lightblue;
    margin: 20px 30px;
    padding: 10px 20px;
  } */

    /* .box2 {
    background-color: lightblue;
    margin: 10px 20px;
    padding: 10px 10px;
  } */

  /* .box2 {
    background-color: lightblue;
    margin: 5px 5px;
    padding: 5px 5px;
  } */

  
/* 1-value syntax (TESTING) */

  /* .box3 {
    background-color: lightblue;
    margin: 30px;
    padding: 15px;
  }

  .box3 {
    background-color: lightblue;
    margin: 20px;
    padding: 10px;
  }

  .box3 {
    background-color: lightblue;
    margin: 10px;
    padding: 5px;
  } */
  

  /* Practice setting width and height : 
  1. https://elementor.com/help/whats-the-difference-between-px-em-rem-vw-and-vh/
  2. https://www.w3schools.com/cssref/css_units.php
  3. https://developer.mozilla.org/en-US/docs/Learn_web_development/Core/Styling_basics/Values_and_units

Relative Units
EM: Relative to the parent element

REM: Relative to the root element (HTML tag)

%: Relative to the parent element

VW: Relative to the viewport’s width

VH: Relative to the viewport’s height */

/* (TESTING) */

  /* .box1 {
    background-color: rgb(62, 14, 89);
    width: 200px;
    height: 150px;
  } */

  /* .box1 {
    background-color: rgb(62, 14, 89);
    width: 100px;
    height: 100px;
  } */

  /* .box1 {
    background-color: rgb(62, 14, 89);
    width: 400px;
    height: 400px;
  } */

  /* .box2 {
    background-color: rgb(17, 5, 84);
    width: 10rem;
    height: 5rem;
  } */

  /* .box2 {
    background-color: rgb(17, 5, 84);
    width: 40rem;
    height: 5rem;
  }  */

  /* .box2 {
    background-color: rgb(17, 5, 84);
    width: 5rem;
    height: 5rem;
  } */

  /* .box3 {
    background-color: rgb(203, 173, 230);
    width: 50vw;
    height: 30vh;
  } */

  /* .box4 {
    background-color: rgb(60, 63, 64);
    margin: 30px;
    padding: 100px;
  } */
  
  /* Practice adding a border : https://www.scaler.com/topics/border-styles-css/ */
  /* The box-sizing property : https://css-tricks.com/almanac/properties/b/box-sizing/ */

  /* overflow: 
  1. https://www.w3schools.com/cssref/pr_pos_overflow.php#:~:text=The%20overflow%20property%20specifies%20what,elements%20with%20a%20specified%20height.
  2. https://developer.mozilla.org/en-US/docs/Web/CSS/overflow */

  /* Updating my divs to be side by side: https://www.w3schools.com/html/html_div.asp */

  /*  6. Outline: https://www.w3schools.com/css/css_outline.asp
    
  .box1 {
    background-color: rgb(62, 14, 89);
    outline: 10px solid red;
    width: 200px;
    height: 150px;
    box-sizing: content-box; 
    overflow: hidden; 
    float: left;              
  } */

  /* 7. Use border-radius to affect the box corners : */

  /* 8. Adding a background image :
  1. https://developer.mozilla.org/en-US/docs/Web/CSS/background-image 
  https://www.w3schools.com/css/css_background_image.asp */

  .box1 {
    background: url('./assets/images/img1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 10px solid red;
    width: 500px;
    height: 300px;
    box-sizing: content-box; 
    overflow: hidden; 
    float: left; 
    padding: 5px 5px 5px 5px;
    border-radius: 20px;             
  }





   /* .box1 {
    background-color: rgb(62, 14, 89);
    border: 10px solid red;
    width: 500px;
    height: 300px;
    box-sizing: content-box; 
    overflow: hidden; 
    float: left; 
    padding: 5px 5px 5px 5px;
    border-radius: 20px;             
  }  */

  .box2 {
    background-color: rgb(78, 53, 224);
    border: 10px dashed green;
    width: 500px;
    height: 150px;
    box-sizing: border-box;
    overflow: scroll;
    float: left;  
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
  }

 .box3 {
    background-color: rgb(203, 173, 230);
    border: 10px dotted purple;
    width: 500px;
    height: 150px;
    box-sizing: inherit;
    overflow: auto;
    float: left; 
    padding: 5px 5px 5px 5px; 
    border-radius: 30px;
  }

  .box4 {
    background-color: rgb(182, 186, 187);
    border: 10px groove red;
    width: 500px;
    height: 300px;
    overflow: visible;
    float: left;  
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
  } 


  /* VI. calc() 
  https://developer.mozilla.org/en-US/docs/Web/CSS/calc 
  https://css-tricks.com/a-complete-guide-to-calc-in-css/
  https://stackoverflow.com/questions/21224411/css-calc-viewport-units-workaround
  Having a little trouble figruring out where I should put my class selctor for this portion of my assisgnment. 
  I asked ChatGPT to review my html code and tell me the best place to add in my  "calc-style, fixed-width-col, and fluid-col"?
  According to ChatGPT I should put it in <main> - will google to reconfirm. 

  https://stackoverflow.com/questions/24531171/fluid-and-fixed-column
  https://www.sitepoint.com/community/t/combining-fluid-and-fixed-width-type-in-one-column/59403/4
  https://css-tricks.com/a-complete-guide-to-calc-in-css/
  */

  .main-content {
    width: 100vw; 
    background-color: lightblue; 
    
    
    /* width: calc(100vw - 100px);  */
  }

  .fixed-width-col {
    width: 350px;
    display: inline-block;
    vertical-align: top;
  }
  
  .fluid-col {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 350px);
  }